<div class="landing">
  <div class="intro-text">
    <div class="intro-lead-in">Welcome to Nova.</div>
    <div class="intro-heading">Sign-Up</div>
  </div>

  <div class="row ltgray">
    <div class="col-md-4 col-md-offset-4">
      <form role="form" method="post" action="/users/signin">
        <div class="form-group">
          <label for="email">Email: </label>
          <input class="form-control" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input class="form-control" type="password" id="password" name="password" />
        </div>
        <div>
          <button class="btn btn-default">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>