<!DOCTYPE html>
<html lang="en">
  <%= erb :'layouts/_head' %>
  <body class="animated-background">
       <%= erb :'layouts/_navigation' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>